<div class="map-card card">
  <img
    src="https://maps.googleapis.com/maps/api/staticmap?center=<%= JSON.stringify(game.center.lat) %>,<%= JSON.stringify(game.center.lng) %>&zoom=<%= JSON.stringify(game.zoom) %>&size=400x400&key=<%= apiKey %>"
    alt="a map">
  <div>
    <% if (user) { %>
      <% if (favouriteMapIds.includes(game.map_id)) { %>
        <i class="fa-solid fa-heart favourite" data-map-id="<%= game.map_id%>" data-user-id="<%= user.id %>"></i>
        <% } else { %>
          <i class="fa-solid fa-heart" data-map-id="<%= game.map_id%>" data-user-id="<%= user.id %>"></i>
          <% } %>
            <% } %>
              <form class="form text-center" method="GET" action="/games/<%= game.id %>">
                <h2>OWNER: <%= game.owner_name %>
                </h2>
                <input type="hidden" name="map_id" value="<%= game.map_id %>">
                <button class="btn btn-primary" type="submit">JOIN</button>
              </form>
  </div>
</div>
