<div class="map-card card">
  <img
    src="https://maps.googleapis.com/maps/api/staticmap?center=<%= JSON.stringify(map.center.lat) %>,<%= JSON.stringify(map.center.lng) %>&zoom=<%= JSON.stringify(map.zoom) %>&size=400x400&key=<%= apiKey %>"
    alt="a map">
  <div>
    <% if (user) { %>
      <% if (favouriteMapIds.includes(map.id)) { %>
        <i class="fa-solid fa-heart favourite" data-map-id="<%= map.id%>" data-user-id="<%= user.id %>"></i>
        <% } else { %>
          <i class="fa-solid fa-heart" data-map-id="<%= map.id %>" data-user-id="<%= user.id %>"></i>
          <% } %>
            <% } %>
  </div>
  <div>
    <h3>
      <%= map.owner_name %>
    </h3>
  </div>
</div>
