<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

  <title>Start Game</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="/scripts/players.js"></script>
  <script defer src="/scripts/create-map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap"></script>

</head>

<body>
  <%- include('partials/_header', user) %>
    <main>
      <div class="card" id="map-frame">
        <div class="card-header">
          <h2>Hide and Seek</h2>
        </div>
        <div class="card-body">
          <div id="map-options" data-map-options="<%= JSON.stringify(map) %>"></div>
          <div id="map"></div>
        </div>
      </div>
      <div class="card" id="players-container"></div>
      <div>
        <div>
          <%= JSON.stringify(host)%>
        </div>
        <div>
          <%= JSON.stringify(game)%>
        </div>
    </main>
    <% if (!player) { %>
      <%- include('partials/_player-modal', {user, game}) %>
        <% } %>
</body>

</html>